{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% if user.is_authenticated%}

    <h1>
        Welcome to our e commerce shop
    </h1>
    <p>
        <a href="{% url 'signout' %}">Log out</a>
    </p>
    {% else %}
    <form action="{% url 'home' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password1" placeholder="password">
        <input type="submit" value="Login">
    </form>
    <br><hr>
    <p>
        <a href="{% url 'signup' %}">Sign Up</a>
    </p>
    {% endif %}
    
</body>
</html>